---
---

@import "{{ site.theme }}"
;

#banner .fork {
    position: fixed;
    left: 50%;
    margin-left: -325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #FFE788;
}

#banner .fork2 {
    position: fixed;
    left: 60%;
    margin-left: -325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    background-color: #FFE788;
}
